# uv 
.venv/
.python-version
uv.lock
.DS_Store

# python
__pycache__/
*.pyc
build/*
*.egg-info

# project specific
downloads/
*datafiles/
*_PathFinder/
# */data/
.hide
#*.pptx

# datafiles
*.cpg
*.dbf
*.prj
*.shx
*.shp
*.tif




# mca
## strava 
*token*
.env
