# uv 
.venv/
.python-version
uv.lock
*.DS_Store

# python
__pycache__/
*.pyc
build/*
*.egg-info
.vscode/

# project specific
downloads/
*datafiles/
*_PathFinder/
# */data/
.hide
#*.pptx

#extra outputs
*output_py_*


# datafiles
*.cpg
*.dbf
*.prj
*.shx
*.shp
*.tif
*.tfw
*.xml
*.gdb
*.gpkg



# mca
## strava 
*token*
.env
